name: Deploy SPFx to App Catalog

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
          
      - name: Setup Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Show environment vars
        run: |
          echo "Tenant: ${{ vars.TENANT_ID }}"
          echo "App_ID ${{ vars.APP_ID }}"

      - name: Install dotenv-cli
        working-directory: ./src
        run: npm install dotenv-cli

      - name: Install Teams Toolkit CLI
        run: npm install -g @pnp/cli-microsoft365

      - name: Install dependencies
        working-directory: ./src
        run: npm install

      - name: Build SPFx project
        working-directory: ./src
        run: |
          npm run build:dev

      - name: Create zip package
        run: |
          mkdir -p output
          zip -r output/teams-app-package.zip appPackage/manifest.json appPackage/icons/

      - name: Authenticate to Azure
        run: |
          m365 login --authType password --appId ${{ vars.APP_ID }} --tenant ${{ vars.TENANT_ID }} --password  ${{vars.APP_SECRET}}
      
      - name: Publish Teams App
        run: |
          m365 teams app publish --filePath output/teams-app-package.zip --verbose







     
