name: Deploy SPFx to App Catalog

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || (github.ref == 'refs/heads/main' && 'prod') || 'dev' }}
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dotenv-cli
        working-directory: ./src
        run: npm install dotenv-cli
        
      - name: Install Microsoft 365 CLI
        run: npm install -g @pnp/cli-microsoft365

      - name: Install dependencies
        run: npm install

      - name: Install dependencies src
        working-directory: ./src
        run: npm install

      - name: Build SPFx project
        working-directory: ./src
        run: |
          npm run build:dev

      - name: m365 setup APP_ID
        run: |
          m365 cli config set --key clientId --value '${{ vars.APP_ID }}'
      - name: m365 setup
        run: |
          m365 cli config set --key tenantId --value '${{ vars.TENANT_ID }}'
      
      - name: m365 setup TENANT_ID
        run: |
          m365 cli config set --key clientSecret --value '${{ vars.APP_SECRET }}'

      - name: Authenticate to Azure
        run: |
          m365 login --authType password --userName ${{ vars.SVC_USER }} --password ${{ vars.SVC_PASSWORD }}

      - name: Publish
        run: |
          m365 spo app add --filePath src/sharepoint/solution/helloworld.sppkg --overwrite
      
   



