
name: Manual Deploy Teams APP

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    env:
      CURRENT_ENV: ${{ github.event.inputs.environment }}

    steps:
      - name: Selected Environment
        run: echo "Current env: ${{ github.event.inputs.environment }}"
